# $NetBSD$
#
# Create format files.
#

FMTUTIL_CNF=${PKG_SYSCONFBASE}/texmf/web2c/fmtutil.cnf

case ${STAGE} in
POST-INSTALL)
	format_names="@FORMAT_NAMES@"
	for f in $format_names ; do
		${GREP} -v "^#" @PREFIX@/share/texmf/fmtutil/format.$f.cnf >> ${FMTUTIL_CNF}
		@CAT@ @PREFIX@/share/texmf/fmtutil/format.$f.cnf |
		@GREP@ "^[^#]" |
		while read format engine junk; do
			@FMTUTIL_SYS@ --byfmt $format
		done
	done
        ;;
*)
	;;
esac
